<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TwitchURLGrabber.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TwitchURLGrabber.Settings>
            <setting name="Channel" serializeAs="String">
                <value>thegdstudio</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value>YourUsername</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>YourNotSoSecretlyStoredPassword</value>
            </setting>
            <setting name="MessageBufferSize" serializeAs="String">
                <value>50</value>
            </setting>
        </TwitchURLGrabber.Settings>
    </userSettings>
</configuration>